---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">
    		{{ page.title }}
    	</h1>
        <p class="post-meta">
        	{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
        </p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      owner: 'WillOfCloud',
      repo: 'willofcloud.github.io',
      oauth: {
        client_id: '185ac1abc9f53f89af73',
        client_secret: '49bb33c58193635002ae312e64f718ca8b6958c5',
      },
    })
    gitment.render('container')
    </script>
</div>
